name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      workflows: write # Adicionado para reforçar permissão de workflow
    steps:
      - uses: actions/checkout@v4
      
      - name: Sync upstream changes
        run: gh repo sync ${{ github.repository }} -b master
        env:
          # Usando o PAT que tem permissão de 'workflow'
          GH_TOKEN: ${{ secrets.MY_SYNC_TOKEN }}
